<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
      <title>Some Website</title>
    </head>


    <body>
      {{> header}}
      <h4>{{screamIt welcomeMessage}}</h4>

      {{> footer}}

    </body>
</html>
